.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: var(--white);
  padding-top: 24px;
  padding-bottom: 40px;
  display: none;
  overflow-y: auto;
  height: 100vh;
}

.mobile-menu.is-open {
  display: block;
}

.mobile-menu-wrapper {
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-close-button {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--navy-blue-modal);
  background-color: var(--cornflower);
  margin-left: auto;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-button:hover,
.menu-close-button:focus {
  background-color: var(--ocean);
  border-color: var(--ocean);
}

.menu-close-button .icon {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-button:hover .icon,
.menu-close-button:focus .icon {
  fill: var(--white);
}

.mobile-menu .nav {
  margin-top: 24px;
  display: block;
  flex-grow: 1;
}

.mobile-menu .nav-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu .nav-link {
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: var(--navy-blue);
}

.mobile-menu .nav-link.active {
  color: var(--ocean);
}

.mobile-menu .nav-link:after {
  width: 0;
  height: 0;
}

.mobile-menu-contacts .address-list {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 24px;
}

.mobile-menu-contacts .address-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-menu-contacts .address-link.phone {
  color: var(--iris);
}

.mobile-menu-contacts .address-link.email {
  color: var(--slate);
}

.mobile-menu-contacts .address {
  display: block;
  font-style: normal;
}

.mobile-menu-contacts .social-list {
  margin-top: 48px;
  max-width: 280px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .mobile-menu.is-open {
    display: none;
  }
}
