.team {
  background-color: var(--cloud);
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: var(--navy-blue);
}

.team-list {
  margin-top: 72px;
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-items: center;
}

.team-item {
  background-color: var(--white);
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  width: 264px;
}

.team-list-thumb {
  padding: 32px 16px;
}

.team-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--navy-blue);
  text-align: center;
}

.team-item-text {
  text-align: center;
  margin-top: 8px;
}

.social-list {
  margin-top: 8px;
  display: flex;
  gap: 24px;
}

.social-list .icon {
  fill: var(--cloud);
}

.social-list .link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms linear;
}

.social-list .link:hover,
.social-list .link:focus {
  background-color: var(--ocean);
}

@media (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 552px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
    max-width: 100%;
  }
}
